.bg-explore {
  background-color: var(--background-alt-blue-ecume) !important;
}

.bg-train {
  background-color: var(--background-alt-purple-glycine) !important;
}

.bg-evaluate {
  background-color: var(--background-alt-pink-tuile) !important;
}

.bg-inference {
  background-color: var(--background-alt-brown-cafe-creme) !important;
}