body {
  overflow-x: hidden;
}
.bg-explore {
  background-color: var(--background-alt-blue-ecume) !important;
}

.bg-run {
  background-color: var(--background-alt-purple-glycine) !important;
}

.bg-analyze {
  background-color: var(--background-alt-pink-tuile) !important;
}

.bg-configue {
  background-color: var(--background-alt-brown-cafe-creme) !important;
}

.drawer {
  position: absolute;
  background-color: var(--background-default-grey);
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  width: 600px;
  max-width: 100%;
  height: 80%;

  &.drawer--left {
    left: 0;
    transform: translateX(-100%);

    &.drawer--open {
      transform: translateX(0);
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  }

  &.drawer--right {
    right: 0;
    transform: translateX(100%);

    &.drawer--open {
      transform: translateX(0);
      box-shadow: rgba(0, 0, 0, 0.15) -1.95px 1.95px 2.6px;
    }
  }
}