.bg-explore {
  background-color: var(--background-alt-blue-ecume) !important;
}

.bg-run {
  background-color: var(--background-alt-purple-glycine) !important;
}

.bg-analyze {
  background-color: var(--background-alt-pink-tuile) !important;
}

.bg-configue {
  background-color: var(--background-alt-brown-cafe-creme) !important;
}